// Fonts

$font-default: 'PT Sans', sans-serif;
$font-Proxima-nova-bold: 'Proxima Nova Rg';
$font-proxima-nova-semibold: 'Proxima Nova Lt';

// font-size 

$font-size-h1: 72px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;

// color

$color-opacity-violet: rgba(159, 154, 207, 0.5);
$color-opacity5-violet: rgba(159, 154, 207, 0.95);
$color-opacity-white: rgba(255, 255, 255, 0.5);
$color-white: #fefefb;
$color-strong-white: #fff;
$color-bg-white: #ebebeb;
$color-dark-red: #841010;
$color-gray: #665f60;
$color-light-gray: #7d7a7c;
$color-white-gray: #dbdbdb;
$color-not-white: #ebebeb;
$color-violet: #9f9acf;

// Animation

$transition-base: .3s ease;
