.header {
    
    background: url('../img/header_bg.jpg') no-repeat center /cover;

    &__wrapper {
        background-color: $color-opacity-violet;
    }

    &__container {
        z-index: 100;
    }

    &__link {

        &:hover {

            .logo {
                transition: $transition-base;
                transform: scale(1.2);
                fill: $color-dark-red;
            }
        }
    }

    &__box {
        padding: 285px 0 510px 0;
    }

    &__top {
        display: flex;
        padding-top: 35px;
    }

    &__title {
        text-align: center;
    }

    &__discription {
        padding: 0 35px;
        text-align: center;
        font-style: italic;
        font-size: $font-size-30;
    }
}

.fixed {
    position: fixed;
    right: 0;
    left: 0;
    padding: 0 5% 15px;
    background-color: $color-opacity-violet;
}
