.header {
    padding-top: 35px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    transition: $transition-base;
    z-index: 100;

    &__link {

        &:hover {

            .logo {
                transition: $transition-base;
                transform: scale(1.2);
                fill: $color-dark-red;
            }
        }
    }
 
    &__box {
        display: flex;
        padding-top: 35px 15px;
    }  
}

.fixed {
    position: fixed;
    width: 100%;
    padding: 10px 5%;
    background-color: $color-opacity-violet;
}
